body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #BBBBBB;
    padding: 20px 0px;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}
.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: solid 2px #000000;
    border-radius: 10px;
}

.produtos li:hover {
    border-color: #C78C19;
}

.produtos li:hover h2 {
    font-size: 34px;
}

.produtos li:active {
    border-color: #088C19;
}


.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao {
    font-size: 18px;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

footer {
    text-align: center;
    background-image: url("../imagens/bg.jpg");
    padding: 40px 0;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin-top: 20px;
}

form {
    margin: 40px 0;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0px;
}

.enviar {
    width: 40%;
    padding: 15px 0;
    background-color: green;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    /* transition: 1s background-color; */
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover{
    /* background-color: #006400; */
    background-color: darkgreen;
    transform: scale(1.01);
}

table {
    margin: 20px 0 40px;
}

thead {
    background-color: #555;
    color: white;
    font-weight: bold;
}


td, th {
    border: solid 1px #000000;
    padding: 8px 15px;
}


/* CSS da página inicial*/

.banner {
    width: 100%;
}

.titulo-principal {
    text-align: center;
    font-size: 2em;
    margin-bottom: 1em;
    clear: left;
}

.principal {
    padding: 3em;
    background-color: #FEFEFE;
    width: 940px;
    margin: 0 auto;
}

.principal p {
    margin-bottom: 1em;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

.conteudo-beneficios {
    width: 650px;
    margin: 0 auto;
}

.lista-beneficios {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

/* .imagem-beneficios {
    float: right;
} */

.utensilios {
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}


.itens {
    line-height: 1.5;
}

.itens::before {
    content: "🟊";
}

.imagem-beneficios {
    width: 60%;
}

.beneficios {
    padding: 3em 0;
    background-color: #888888;
}

.mapa {
    padding: 3em 0;
    background: linear-gradient(white, #888888);
}


.mapa p {
    margin-bottom: 2em;
    text-align: center;
}

.mapa-conteudo {
    width: 940px;
    margin: 0 auto;
}

.video {
    width: 560px;
    margin: 2em auto;
}

